.C_IcoHdr
{
  width: 25px; 
  height: 25px;   
}      

.C_IcoBtn
{
  width: 20px; 
  height: 20px;   
}   

.IcoLst
{
  width:20px; 
  height: 20px;
  padding:5px 10px 0px 0px; /* top right bottom left */
}

.IcoFltr
{
  width: 25px; 
  height: 25px;   
} 

.IcoBtnUsdFltr
{
  width:10px; 
  height:15px;           
}
